{% extends 'generales/main.html' %}
{% load static %}
{% block content %}
<style>
    .password-reset-complete-container {
        max-width: 400px;
        margin: 50px auto;
        padding: 20px;
        background-color: #f9f9f9;
        border: 1px solid #ddd;
        border-radius: 8px;
        box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
        text-align: center;
    }

    .password-reset-complete-container h2 {
        margin-bottom: 20px;
        color: #333;
    }

    .password-reset-complete-container p {
        font-size: 16px;
        color: #555;
    }

    .password-reset-complete-container a {
        color: #007bff;
        text-decoration: none;
    }

    .password-reset-complete-container a:hover {
        text-decoration: underline;
    }
</style>

<div class="password-reset-complete-container">
    <h2>Contraseña Restablecida</h2>
    <p>Tu contraseña ha sido restablecida con éxito. Ahora puedes <a href="{% url 'login' %}">iniciar sesión</a> con tu
        nueva contraseña.</p>
</div>
{% endblock %}