{% extends 'generales/main.html' %}
{% block content %}
<div class="form-container">
    <h2>Configura tu Nombre de Usuario y Contraseña</h2>
    {% if validlink %}
    <form method="post" onsubmit="return validateForm()">
        {% csrf_token %}
        <div class="form-group">
            <label for="username">Nombre de Usuario:</label>
            <input type="email" id="username" name="username" placeholder="usuario@ejemplo.com" required>
            <p id="username-error" class="error-message" style="display:none;">El nombre de usuario debe ser un correo
                electrónico válido.</p>
        </div>
        <div class="form-group">
            <label for="password">Contraseña:</label>
            <input type="password" id="password" name="password" required>
            <small class="form-text text-muted">La contraseña debe tener al menos 12 caracteres, incluyendo una letra
                mayúscula, un número y un carácter especial.</small>
        </div>
        <p id="password-error" class="error-message" style="display:none;">La contraseña no cumple con los requisitos.
        </p>
        <button type="submit">Guardar</button>
    </form>
    {% else %}
    <p class="error-message">El enlace es inválido o ha caducado.</p>
    {% endif %}
</div>
{% endblock %}
{% block scripts %}
<script>
    function validateForm() {
        const password = document.getElementById('password').value;
        const passwordError = document.getElementById('password-error');
        const passwordPattern = /^(?=.*[A-Z])(?=.*\d)(?=.*[@$!%*?&])[A-Za-z\d@$!%*?&]{12,}$/;
        const username = document.getElementById('username').value;
        const usernameError = document.getElementById('username-error');
        const emailPattern = /^[^\s@]+@[^\s@]+\.[^\s@]+$/;

        if (!passwordPattern.test(password)) {
            passwordError.style.display = 'block';
            return false;
        }
        usernameError.style.display = 'none';
        return true;

        if (!emailPattern.test(username)) {
            usernameError.style.display = 'block';
            return false;
        }
        passwordError.style.display = 'none';
        return true;


    }

</script>
{% endblock %}

{% block styles %}
<style>
    .form-container {
        max-width: 500px;
        margin: auto;
        padding: 20px;
        background-color: #f8f9fa;
        border-radius: 10px;
        box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    }

    h2 {
        color: #343a40;
    }

    .form-group label {
        font-weight: bold;
    }

    .error-message {
        color: #dc3545;
        font-size: 0.9em;
    }

    button {
        background-color: #007bff;
        color: white;
        border: none;
        padding: 10px 20px;
        border-radius: 5px;
        cursor: pointer;
    }

    button:hover {
        background-color: #0056b3;
    }
</style>
{% endblock %}