<!DOCTYPE html>
{% load static %}
<html>

<head>
    <title>Proyecto Django</title>
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.1/dist/css/bootstrap.min.css" rel="stylesheet"
        integrity="sha384-4bw+/aepP/YC94hEpVNVgiZdgIC5+VKNBQNGCHeKRQN+PtmoHDEXuppvnDJzQIu9" crossorigin="anonymous">
    <link rel="stylesheet" type="text/css" href="{% static 'css/main.css' %}">
    <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1, minimum-scale=1" />
</head>

<body>
    <nav class="navbar navbar-expand-lg navbar-dark bg-dark">
        <a class="navbar-brand" href="#">
            <img src="{% static 'img/logo_usac.jpeg'%}" width="30" height="30" class="d-inline-block align-top" alt="">
            Academia USAC
        </a>
        <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent"
            aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
        </button>
    
        <div class="collapse navbar-collapse" id="navbarSupportedContent">
            <ul class="navbar-nav ml-auto">
                <li class="nav-item active">
                    <a class="nav-link" href="{% url 'paginaprincipal' %}">Inicio <span class="sr-only"></span></a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" href="#">Ingresar</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" href="{% url 'cursos' %}">Cursos</a>
                <li class="nav-item">
                    <a class="nav-link bg-warning text-dark" href="{% url 'registro' %}">Registrarse</a>
                </li>
            </ul>
        </div>
    </nav>

    <br />

    <div class="container">
        {% block content %}
        {% endblock content %}
    </div>
<!-- Pie de página -->
<footer class="bg-dark text-white text-center text-lg-start mt-5">
    <div class="container p-4">
        <div class="row">
            <div class="col-lg-6 col-md-12 mb-4">
                <h5 class="text-uppercase">Academia USAC</h5>
                <p>
                    Academia USAC es un espacio para el desarrollo de habilidades y conocimientos en ingeniería,
                    ofreciendo cursos especializados con expertos en cada área.
                </p>
            </div>

            <div class="col-lg-3 col-md-6 mb-4">
                <h5 class="text-uppercase">Contacto</h5>
                <ul class="list-unstyled mb-0">
                    <li><a href="mailto:tu-correo@academiausac.com" class="text-white">tu-correo@academiausac.com</a>
                    </li>
                    <li><a href="tel:+50212345678" class="text-white">+502 1234-5678</a></li>
                </ul>
            </div>

            <div class="col-lg-3 col-md-6 mb-4">
                <h5 class="text-uppercase">Síguenos</h5>
                <ul class="list-unstyled">
                    <li><a href="#" class="text-white">Facebook</a></li>
                    <li><a href="#" class="text-white">Twitter</a></li>
                    <li><a href="#" class="text-white">LinkedIn</a></li>
                </ul>
            </div>
        </div>
    </div>

    <div class="text-center p-3 bg-dark">
        © 2024 Academia USAC - Todos los derechos reservados.
    </div>
</footer>
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.1/dist/js/bootstrap.bundle.min.js"
        integrity="sha384-HwwvtgBNo3bZJJLYd8oVXjrBZt8cqVSpeBNS5n7C8IVInixGAoxmnlMuBnhbgrkm"
        crossorigin="anonymous"></script>

</body>

</html>