{% extends 'generales/main.html' %}
{% load static %}
{% block content %}
<style>
    .password-reset-done-container {
        max-width: 400px;
        margin: 50px auto;
        padding: 20px;
        background-color: #f9f9f9;
        border: 1px solid #ddd;
        border-radius: 8px;
        box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
        text-align: center;
    }

    .password-reset-done-container h2 {
        margin-bottom: 20px;
        color: #333;
    }

    .password-reset-done-container p {
        font-size: 16px;
        color: #555;
    }
</style>

<div class="password-reset-done-container">
    <h2>Correo Enviado</h2>
    <p>Hemos enviado un correo electrónico con instrucciones para restablecer tu contraseña.</p>
</div>
{% endblock %}