{% extends 'generales/main.html' %}
{% load static %}
{% block content %}
<style>
    /* main.css */

    /* Estilo general del contenedor del formulario */
    .form-container {
        max-width: 600px;
        margin: 0 auto;
        background-color: white;
        /* Fondo blanco para el recuadro */
        padding: 20px;
        /* Espaciado interno */
        border-radius: 10px;
        /* Bordes redondeados */
        box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
        /* Sombra suave */
    }

    h1 {
        font-size: 2.5rem;
        font-weight: bold;
        color: #343a40;
    }

    p {
        font-size: 1.125rem;
        color: #6c757d;
    }

    .form-label {
        font-weight: bold;
        color: #495057;
    }

    .form-control {
        border-radius: 0.375rem;
        border: 1px solid #ced4da;
        padding: 0.75rem 1rem;
    }

    .form-control:focus {
        border-color: #80bdff;
        box-shadow: 0 0 0 0.2rem rgba(38, 143, 255, 0.25);
    }

    .btn-primary {
        background-color: #007bff;
        border-color: #007bff;
        padding: 0.75rem 1.25rem;
        font-size: 1rem;
        border-radius: 0.375rem;
    }

    .btn-primary:hover {
        background-color: #0056b3;
        border-color: #004085;
    }

    .mb-3 {
        margin-bottom: 1rem;
    }

    .d-grid {
        margin-top: 1rem;
    }

    input[type="password"] {
        border-radius: 0.375rem;
    }

    input[required] {
        background-color: #f8f9fa;
    }

    .alert {
        padding: 10px;
        border-radius: 4px;
        margin-bottom: 10px;
    }

    .alert-success {
        background-color: #d4edda;
        color: #155724;
    }

    .alert-error {
        background-color: #f8d7da;
        color: #721c24;
    }

    .alert-warning {
        background-color: #fff3cd;
        color: #856404;
    }
</style>

<div class="form-container mt-5">
    <h1 class="mb-4">Registro</h1>
    <p class="mb-4">Por favor, complete este formulario para registrarse.</p>

    {% if messages %}
    <div class="mb-4">
        {% for message in messages %}
        <div class="alert alert-{{ message.tags }}">{{ message }}</div>
        {% endfor %}
    </div>
    {% endif %}

    <form method="post" action="{% url 'registro' %}" enctype="multipart/form-data">
        {% csrf_token %}
        <div class="mb-3">
            <label for="name" class="form-label"><b>Nombre</b></label>
            <input type="text" class="form-control" id="name" name="name" placeholder="Ingrese su nombre"
                value="{{ request.POST.name|default:'' }}" required>
            <p id="name-error" class="error-message"></p>
        </div>

        <div class="mb-3">
            <label for="lastname" class="form-label"><b>Apellido</b></label>
            <input type="text" class="form-control" id="lastname" name="lastname" placeholder="Ingrese su apellido"
                value="{{ request.POST.lastname|default:'' }}" required>
            <p id="lastname-error" class="error-message"></p>
        </div>

        <div class="mb-3">
            <label for="DPI" class="form-label"><b>DPI</b></label>
            <input type="text" class="form-control" id="DPI" name="DPI" placeholder="Ingrese su DPI" pattern="[0-9]{13}"
                value="{{ request.POST.DPI|default:'' }}" required>
        </div>

        <div class="mb-3">
            <label for="date" class="form-label"><b>Fecha de Nacimiento</b></label>
            <input type="date" class="form-control" id="date" name="date" value="{{ request.POST.date|default:'' }}"
                required>
        </div>

        <div class="mb-3">
            <label for="telephone" class="form-label"><b>Teléfono</b></label>
            <input type="tel" class="form-control" id="telephone" name="telephone" placeholder="Ingrese su teléfono"
                pattern="[0-9]{8,10}" value="{{ request.POST.telephone|default:'' }}" required>
        </div>

        <div class="mb-3">
            <label for="username" class="form-label"><b>Nombre de Usuario</b></label>
            <input type="text" class="form-control" id="username" name="username"
                placeholder="Ingrese su nombre de usuario" value="{{ request.POST.username|default:'' }}" required>
        </div>

        <div class="mb-3">
            <label for="email" class="form-label"><b>Correo Electrónico</b></label>
            <input type="email" class="form-control" id="email" name="email" placeholder="Ingrese su correo electrónico"
                value="{{ request.POST.email|default:'' }}" required>
        </div>

        <div class="mb-3">
            <label for="pwd" class="form-label"><b>Contraseña</b></label>
            <span class="toggle-password" onclick="togglePasswordVisibility('pwd')">👁️</span>
            <input type="password" class="form-control" id="pwd" name="pwd" placeholder="Ingrese su contraseña"
                minlength="12" pattern="^(?=.*[a-z])(?=.*[A-Z])(?=.*\d)(?=.*[\W_])[A-Za-z\d\W_]{12,}$" required
                title="La contraseña debe tener al menos 12 caracteres, incluyendo una letra mayúscula, un número y un carácter especial.">
        </div>

        <div class="mb-3">
            <label for="pwd-repeat" class="form-label"><b>Repita su Contraseña</b></label>
            <span class="toggle-password" onclick="togglePasswordVisibility('pwd-repeat')">👁️</span>
            <input type="password" class="form-control" id="pwd-repeat" name="pwd-repeat"
                placeholder="Repita su contraseña" minlength="12"
                pattern="^(?=.*[a-z])(?=.*[A-Z])(?=.*\d)(?=.*[\W_])[A-Za-z\d\W_]{12,}$" required
                title="Las contraseñas deben coincidir y seguir las mismas reglas.">
        </div>

        <div class="mb-3">
            <label for="face_image" class="form-label"><b>Sube una Imagen de tu Rostro</b></label>
            <input type="file" class="form-control" id="face_image" name="face_image" accept="image/*" required>
        </div>

        <div class="g-recaptcha" data-sitekey="6LdM62cqAAAAALJ3eWHF_goLZgZZdC1TtOjh-2zT"></div>

        <div class="d-grid gap-2">
            <button type="submit" class="btn btn-primary">Registrar</button>
        </div>

    </form>
</div>

<script src="https://www.google.com/recaptcha/api.js" async defer></script>
<script>
    function togglePasswordVisibility(id) {
        var passwordInput = document.getElementById(id);
        var passwordType = passwordInput.getAttribute('type');
        if (passwordType === 'password') {
            passwordInput.setAttribute('type', 'text');
        } else {
            passwordInput.setAttribute('type', 'password');
        }
    }
    function validateInput(input, errorElementId) {
        var value = input.value;
        var errorMessage = document.getElementById(errorElementId);

        // Verificar si hay caracteres no permitidos
        if (/[^a-zA-ZáéíóúÁÉÍÓÚñÑ\s]/.test(value)) {
            errorMessage.style.display = 'block'; // Mostrar el mensaje de error
        } else {
            errorMessage.style.display = 'none'; // Ocultar el mensaje de error
        }

        // Eliminar caracteres que no sean letras o espacios
        input.value = value.replace(/[^a-zA-ZáéíóúÁÉÍÓÚñÑ\s]/g, '');
    }

    document.getElementById('name').addEventListener('input', function (event) {
        validateInput(event.target, 'name-error');
    });

    document.getElementById('lastname').addEventListener('input', function (event) {
        validateInput(event.target, 'lastname-error');
    });
</script>
{% endblock content %}